# Node
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Project specific
data/
models_storage/
.env
.env.local
